.table {
  position: absolute;
  left: 173px;
  top: 98px;
  border-spacing: 0;
}

.table-detail {
  width: 94px;
  height: 94px;
}

.hit {
  background: url('./ship.png') no-repeat center center;
}

.miss {
  background: url('./miss.png') no-repeat center center;
}